html
{
    height: 100%;
}

body
{
    font-family: monospace;
    font-size: 13px;
    line-height: 15px;

    display: flex;
    flex-direction: column;

    height: 100%;
    margin: 0;
    padding: 0;

    background: #f3f2ee;
}

.info
{
    padding: 10px;

    text-align: center;
}

.score
{
    min-height: 15px;

    color: #666;
}

.balls
{
    display: flex;

    width: 90%;
    margin: 0 auto;

    flex-grow: 1;
    align-items: center;

    justify-content: space-between;
}

.ball-left,
.ball-right
{
    width: 45%;
}

.ball-left
{
    transform: scaleX(-1);
}

.ball
{
    content: '';
    display: block;
    width: 6vw;
    height: 6vw;
    padding: 0;

    border-radius: 50%;
    background-color: #444;
    transition: transform .15s;
}

.balls.animated .ball
{
    animation-name: move;
    animation-play-state: paused;
    animation-timing-function: linear;

    animation-fill-mode: forwards;
}

@keyframes move {
    from { transform: none }
}

.actions
{
    display: flex;
    overflow: hidden;

    margin: 40px 0 0;
    padding: 0;

    user-select: none;
}

.action
{
    width: 25%;
    padding: 20px 10px;
    font: inherit;
    background: transparent;

    cursor: pointer;
    transition: background-color .2s;
    text-align: center;

    color: #999;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #ccc;

    flex-grow: 1;
}

.action:hover,
.action:focus
{
    background-color: rgba(0,0,0,.1);
    outline: none;
}

.action:last-child
{
    border-right-width: 0;
}

.action-key
{
    color: #666;
    background: transparent;
}

@media screen and (min-width: 1024px)
{
    body
    {
        font-size: 18px;
        line-height: 20px;
    }
    .score
    {
        min-height: 20px;
    }
}
